@import url('reset.css') screen;
@import url('coartdeg.css') screen;
@import url(http://fonts.googleapis.com/css?family=Exo:400italic,600italic);

/*
Importados
	restet
	degradados
	fuentes
*/

.coArtCal {
	border-collapse: collapse;
}

.coolArtsCalendar * {
	font-size: 1.05em;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-style: italic;
}

.coArtCal_diasSemana {
	width: 100px;
	height: 35px;
	border: 1px solid black;
	color: white;
	font-weight: 400;
}

.coArtCal_esteMes, .coArtCal_otroMes, .coArtCal_hoy {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	text-align: center;
	-webkit-user-select: none;
	-Moz-user-select: none;
	cursor: default;
}